.button {
  @apply flex;
  @apply py-3 px-7 mx-2 mr-2 rounded;
  @apply bg-primary text-light;
  @apply text-base font-semibold;
}

.button__icon {
  @apply mr-2;
}

.button__icon--right {
  @apply flex-row-reverse;
}

.button__icon--right .button__icon {
  @apply mr-0 ml-2;
}
