.footer {
  width: 100%;
  @apply container p-8 mt-16;
  @apply bg-dark text-light;
  @apply grid grid-cols-2;
}

.footer__sitemark {
  @apply flex items-center;
}

.footer__logo {
  @apply mr-4;
}

.footer__title {
  @apply text-2xl font-bold;
}

.footer__leyend {
  @apply block mt-16;
  @apply text-sm font-bold;
}

.footer__description {
  @apply text-lg font-semibold text-right;
}

.footer__links {
  @apply flex justify-end mt-8;
}
