.jumbotron {
  width: 100%;
  min-height: 345px;
  @apply pl-44;
  @apply flex flex-col justify-center;
  @apply bg-primary text-light;
}

.jumbotron__subtitle {
  @apply text-lg;
}

.jumbotron__title {
  max-width: 830px;
  @apply text-4xl font-bold;
}
