.jumbotron {
  width: 100%;
  @apply h-60 md:h-80;
  @apply px-8 md:px-24;
  @apply flex flex-col justify-center;
  @apply bg-primary text-light;
}

.jumbotron__subtitle {
  @apply text-lg;
}

.jumbotron__title {
  max-width: 830px;
  @apply text-2xl md:text-4xl font-bold;
}
