.navbar {
  width: 100%;
  @apply sticky top-0;
  @apply pt-4 pb-4 pl-8 pr-8;
  @apply grid grid-cols-2;
  @apply bg-dark text-light;
}

.navbar__sitemark {
  @apply flex content-center items-center;
}

.navbar__logo {
  @apply mr-8;
}

.navbar__title {
  @apply text-2xl font-bold;
}

.navbar__menu {
  @apply flex justify-end;
}

.navbar__links {
  @apply flex items-center;
}

.navbar__links li {
  @apply mr-4;
}

.navbar__links li a {
  @apply text-lg font-semibold;
}
