.NotFound {
  @apply h-96 flex flex-col items-center justify-center text-primary;
}

.NotFound__title {
  @apply text-6xl font-bold mb-2;
}

.NotFound__subtitle {
  @apply text-3xl font-semibold mb-8;
}
