.package {
  max-width: 559px;
  width: 100%;
  @apply py-8 px-4  md:pl-8 md:pr-16;
  @apply bg-light dark:bg-dark text-dark dark:text-light;
  @apply rounded-md;
}

.package__image {
  @apply mb-4;
}

.package__title {
  @apply text-3xl md:text-4xl font-semibold mb-4;
}

.package__description {
  @apply text-xl mb-8;
}
