.package {
  max-width: 559px;
  @apply py-8 pl-8 pr-16;
  @apply bg-dark text-light;
  @apply rounded-md;
}

.package__image {
  @apply mb-4;
}

.package__title {
  @apply text-4xl font-semibold mb-4;
}

.package__description {
  @apply text-xl mb-8;
}
