.projectCard {
  @apply text-white;
}

.projectCard__image {
  width: 100%;
}

.projectCard__title {
  @apply mt-4 text-4xl font-semibold;
}

.projectCard__release {
  @apply block mt-2;
  @apply font-light text-base;
}

.projectCard__description {
  @apply mt-4;
  @apply text-lg;
}

.projectCard__buttons {
  @apply mt-4;
}
