.theme {
  width: 100%;
  max-width: 990px;
  @apply mx-auto;
  @apply text-dark dark:text-light;
}

.theme__content {
  @apply mb-4;
  @apply flex;
}

.theme__title {
  @apply text-4xl font-bold;
}

.theme__field {
  @apply flex;
}

.theme__image {
  @apply w-full;
}
