@media (prefers-color-scheme: light) {
  body {
    background: rgb(238, 241, 255);
    background: linear-gradient(90deg, rgba(238, 241, 255, 1) 0%, rgba(246, 248, 255, 1) 100%);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: rgb(4, 4, 5);
    background: linear-gradient(90deg, rgba(4, 4, 5, 1) 0%, rgba(28, 26, 36, 1) 100%);
  }
}
